<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.png')}}" />
        <title>Web of Science Fractional Counting Calculator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
    </head>
    <body>
        <header></header>
        <main>
            <div class="search-content-wrapper">
                <section>
                    <h1>Web of Science Expanded API</h1>
                    <h2>Author-level Fractional Counting for Organizations</h2>
                    <form class="form" method="POST" id="search">
                        <div class="form__header">
                            <h3>Advanced search query builder</h3>
                            <a href="https://webofscience.help.clarivate.com/en-us/Content/advanced-search.html" target="_blank_">Search Help</a>
                        </div>
                        <p>
                            <label for="search_query" class="form__label"></label>
                            <textarea class="form__textarea" name="search_query" id="search_query"
                                      aria-label="Search Query"
                                      placeholder="Enter or edit your query here, e.g. OG=Clarivate and PY=2008-2025">{{search_query}}</textarea>
                            {% if not error_message_1 %} <br> {% else %} <p class="search__error">{{ error_message_1 }}</p> {% endif %}
                        </p>
                        <div class="form__header">
                            <h3>Affiliation</h3>
                        </div>
                        <p>
                            <input class="input__orgname" name="org_name" id="org_name"
                                   placeholder="Enter or edit the organization that you'd like to analyze for its fractional output, i.e. Clarivate" value="{{org_name}}">
                            {% if not error_message_2 %} <br> {% else %} <p class="search__error"> {{ error_message_2 }} {% endif %}
                        </p>
                        <button class="form__validate" type="submit" name="button" value="validate">Validate</button>

                        <p>
                            {% if not message_1 %} {% else %} {{ message_1 }} <br> {% endif %}
                            If you are not sure of how many records your search query returns, try validating it first.<br>
                            Maximum number of Web of Science document records returned through the API in a single search query is 100,000.<br>
                        </p>
                        <button class="form__submit" type="submit" name="button" value="run">Run</button>

                        <div id="progress-container" class="progress-container">
                            <div class="progress-bar-background">
                                <div id="progress-bar" class="progress-bar-fill"></div>
                                <div id="progress-label" class="progress-label"></div>
                            </div>
                        </div>

                        <p>
                            {% if not filename %} {% else %}
                            Retrieval complete. For further analysis, check "{{ filename }}" file in the /downloads subfolder of the project.
                            {% endif %}
                        </p>
                    </form>
                </section>
                <section>
                    <form class="form" method="POST" id="load">
                        <h3>Or load a previously saved Excel file</h3>
                        <p class="load__form">
                            <input class="form__input" type="file" id="filename" name="filename" accept=".xlsx" />
                            <input class="form__button" type="submit" value="Load File" id="load__file">
                        </p>
                    </form>
                </section>
            </div>
            {% if plot %}
            <div class="plot-wrapper">
                {{ plot|safe }}
            </div>
            {% endif %}
        </main>
        <footer></footer>
        <script src="{{ url_for('static', filename='index.js') }}" charset="UTF-8"></script>
    </body>
</html>