<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.png')}}" />
        <title>Web of Science to VOSviewer Exporter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
    </head>
    <body>
        <header></header>
        <main>
            <div class="search-content-wrapper">
                <section>
                    <h1>Web of Science Expanded API</h1>
                    <h2>VOSviewer Exporter</h2>
                    <form class="form" method="POST" id="search">
                        <div class="form__header">
                            <h3>Advanced search query builder</h3>
                            <a href="https://webofscience.help.clarivate.com/en-us/Content/advanced-search.html" target="_blank">Search Help</a>
                        </div>
                        <div class="switch">
                            <label class="switch__toggle" id="toggle">
                            <input type="checkbox" name="check" {% if cited_refs %} checked {% endif %}>
                            <span class="slider round"></span>
                            </label>
                            <span class="switch__label">Retrieve Cited References data</span>
                        </div>
                            <label for="search_query" class="form__label"></label>
                            <textarea class="form__textarea" name="search_query" id="search_query"
                                  aria-label="Search Query"
                                  placeholder="Enter or edit your query here, e.g. TS=cubesat*">{{search_query}}
                            </textarea>
                        <button class="form__validate" type="submit" name="button" value="validate">Validate</button>

                        <p>
                            {% if not message %} {% else %} {{ message }} <br> {% endif %}
                            If you are not sure of how many records your search query returns, try validating it first.<br>
                            Maximum number of Web of Science documents records returned through the API for a single search query is 100,000.<br>
                        </p>
                        <button class="form__submit" type="submit" name="button" value="run">Run</button>

                        <div id="progress-container" class="progress-container">
                            <div class="progress-bar-background">
                                <div id="progress-bar" class="progress-bar-fill"></div>
                                <div id="progress-label" class="progress-label"></div>
                            </div>
                        </div>

                        <p>
                            {% if not filename %} {% else %}
                            Retrieval complete. Please check the "{{ filename }}" file in the /downloads subfolder of the project.
                            {% endif %}
                        </p>
                    </form>
                </section>
            </div>
        </main>
        <footer></footer>
    <script src="{{ url_for('static', filename='index.js') }}" charset="UTF-8"></script>
    </body>
</html>