*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-size: 16 px;
}

body {
    padding 0;
    margins 0;
    font-family: "Source Sans Pro", Calibri, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center
}

h1 {
    font: 700 28px / 1.3 "Source Sans Pro", sans-serif;
    color: #000000de;
    margin-block-end: 0;
}

h2 {
    font: 600 20px / 1.3 "Source Sans Pro", sans-serif;
    color: #616161;
    text-align: left;
    margin-block-start: 0;
}

h3 {
    font: 500 20px / 1.3 "Source Sans Pro", sans-serif;
    color: #000000de;
    margin-block-start: 0;
}

.form {
    width: 45rem;
    padding: .5rem 1rem;
    margin: 0rem auto;
}

textarea {
    font: inherit;
    outline: none;
    padding: 10px 0 10px 10px;
    margin-top: .625rem;
    margin-bottom: .625rem;
    width: 100%;
    border-style: solid;
    border-color: #BABCBE;
    border-radius: 4px;
    border-width: 1px;
    resize: vertical;
}

p {
    font: 400 14px / 1.3 "Source Sans Pro", sans-serif;
    text-align: left;
}

textarea:focus {
    border-color: #5E33BF;
    border-width: 2px;
}

button, .form__button {
    margin: .325rem;
    padding: .5rem 2rem;
    background-color: #5E33BF;
    color: #FFFFFF;
    border-radius: 4px;
    border-style: solid;
    border-color: #5E33BF;
    cursor: pointer;
    font-weight: 600;
}

button:active, .form__button:active {
    background-color: #9675D7;
    border-color: #9675D7
}

button[value="validate"] {
    padding: .5rem 1rem;
    background-color: #FFFFFF;
    color: #5E33BF;
    border-color: #5E33BF;
    border-width: 1px;
}

button[value="validate"]:hover {
    background-color: #F2F2F2;
}

button[value="run"] {
    padding: .5rem 1.75rem;
}

.switch {
    display: flex;
    flex-direction: row;
    margin-top: .625rem;
    margin-bottom: .625rem;
    cursor: pointer;
}

.switch__toggle {
    position: relative;
    left: 15px;
    top: 2px;
    width: 36px;
    height: 14px;
}

.switch__toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000061;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    top: -3px;
    left: -2px;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #F2F2F2;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #5D33BF8a;
}

input:checked + .before {
    background-color: #5D33BF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    background-color: #5D33BF;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transform: background-color 1000ms linear;
    -ms-transform: background-color 1000ms linear;
    transform: background-color 1000ms linear;
}

.switch__label {
    padding: 0rem 1.75rem;
}