*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margins: 0;
    font-family: "Source Sans Pro", Calibri, Arial, Helvetica, sans-serif !important;
    box-sizing: border-box;
    text-align: center
}

h1 {
    font: 700 28px / 1.3 "Source Sans Pro", sans-serif;
    color: #000000de;
    margin-block-end: 0;
}

h2 {
    font: 600 20px / 1.3 "Source Sans Pro", sans-serif;
    color: #616161;
    text-align: left;
    margin-block-start: 0;
}

h3 {
    font: 500 20px / 1.3 "Source Sans Pro", sans-serif;
    color: #000000de;
    margin-block-start: 0;
}

.form {
    width: 45rem;
    padding: .5rem 1rem;
    margin: 0rem auto;
}

textarea {
    font: inherit;
    outline: none;
    padding: 0.5rem 0.75rem;
    width: 100%;
    border-style: solid;
    border-color: #BABCBE;
    border-radius: 4px;
    border-width: 1px;
    resize: vertical;
}

textarea:focus {
    border-color: #5E33BF;
    border-width: 2px;
}

p {
    font: 400 14px / 1.3 "Source Sans Pro", sans-serif;
    text-align: left;
    margin-block-start: 0;
}

button, .form__button {
    margin: .325rem;
    padding: 0.5rem 2rem;
    background-color: #5E33BF;
    color: #FFFFFF;
    border-radius: 4px;
    border-style: solid;
    border-color: #5E33BF;
    cursor: pointer;
    font-weight: 600;
}

button:active, .form__button:active {
    background-color: #9675D7;
    border-color: #9675D7;
}

button[value="validate"] {
    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
    color: #5E33BF;
    border-color: #5E33BF;
    border-width: 1px;
}

button[value="validate"]:hover {
    background-color: #F2F2F2;
}

button[value="run"] {
    padding: .5rem 1.75rem;
}

button[value="run"]:loading {
    color: #D8D8D8;
}

.load_form {
    display: flex;
    flex-direction: row;
}

.form__input {
    font: inherit;
    margin: .325rem;
    outline: none;
    width: 78%;
    padding: 0.5rem 0.75rem;
    height: 2.375rem;
    cursor: pointer;
    border-style: solid;
    border-color: #BABCBE;
    border-radius: 4px;
    border-width: 1px;
}

input[type=file]::file-selector-button {
    margin-right: 1rem;
    font: inherit;
    padding: 0 .5rem;
    background-color: #FFFFFF;
    color: #5E33BF;
    border-color: #5E33BF;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}

input[type=file]::file-selector-button:hover {
    background-color: #F2F2F2;
}

.graph_button_switchable {
    background-color: #FFFFFF;
    color: #5E33BF;
    border-width: 1px;
}

.graph_button_switchable:hover {
    background-color: #F2F2F2;
}

.plotly-graph-div {
    height: 600px !important;
}